html,
body {
  background-color: #21232a;
  color: white;
  font-family: system-ui;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  border-radius: 10px;
  font-size: inherit;
  margin-right: 4px;
  padding: 16px;
}
